/* ********
   * Reset*
   ******** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* **********
   * Layout *
   ********** */

/* ********
   * Main *
   ******** */

/* ***********
   * Sidebar *
   *********** */

/* ************
   *  Footer  *
   ************ */
